<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>register</servlet-name>
  	<display-name>register</display-name>
  	<description></description>
  	<servlet-class>com.user.Servlet.register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.admin.Servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogout</servlet-name>
  	<display-name>AdminLogout</display-name>
  	<description></description>
  	<servlet-class>com.admin.Servlet.AdminLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userLogin</servlet-name>
  	<display-name>userLogin</display-name>
  	<description></description>
  	<servlet-class>com.user.Servlet.userLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userLogout</servlet-name>
  	<display-name>userLogout</display-name>
  	<description></description>
  	<servlet-class>com.user.Servlet.userLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSpeacialist</servlet-name>
  	<display-name>AddSpeacialist</display-name>
  	<description></description>
  	<servlet-class>com.admin.Servlet.AddSpeacialist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDoctor</servlet-name>
  	<display-name>AddDoctor</display-name>
  	<description></description>
  	<servlet-class>com.admin.Servlet.AddDoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateDoctor</servlet-name>
  	<display-name>updateDoctor</display-name>
  	<description></description>
  	<servlet-class>com.admin.Servlet.updateDoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteDoctor</servlet-name>
  	<display-name>DeleteDoctor</display-name>
  	<description></description>
  	<servlet-class>com.admin.Servlet.DeleteDoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorLogin</servlet-name>
  	<display-name>DoctorLogin</display-name>
  	<description></description>
  	<servlet-class>com.doctor.servlet.DoctorLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorLogout</servlet-name>
  	<display-name>DoctorLogout</display-name>
  	<description></description>
  	<servlet-class>com.doctor.servlet.DoctorLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Appointment</servlet-name>
  	<display-name>Appointment</display-name>
  	<description></description>
  	<servlet-class>com.user.Servlet.Appointment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AppointmentServlet</servlet-name>
  	<display-name>AppointmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.Servlet.AppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>register</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogout</servlet-name>
  	<url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userLogin</servlet-name>
  	<url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userLogout</servlet-name>
  	<url-pattern>/userLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSpeacialist</servlet-name>
  	<url-pattern>/AddSpeacialist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDoctor</servlet-name>
  	<url-pattern>/AddDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateDoctor</servlet-name>
  	<url-pattern>/updateDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteDoctor</servlet-name>
  	<url-pattern>/DeleteDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorLogin</servlet-name>
  	<url-pattern>/DoctorLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorLogout</servlet-name>
  	<url-pattern>/DoctorLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Appointment</servlet-name>
  	<url-pattern>/Appointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AppointmentServlet</servlet-name>
  	<url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
</web-app>
